body{
    color: white;
    background-color: #222;
}

header{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.saveBtn{
    display: none;
}

/* .deleteBtn{
    display: none;
} */

.inputSection form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSection label{
    margin-bottom: 0;
}

.inputSection input{
    margin: 0 5px;
    text-align: center;
}

.submitBtn{
    padding: 2px 12px;
}

.gifName{
    margin: 3px;
}

.outputCard{
    display: inline-block;
    padding: 3px;
    margin: 10px 0px;
}

.outputCard img{
    display: block;
    margin: auto;
    height: 225px;
    width: 225px;
}

.downBtn{
    width: 100px;
}

.infoBox{
    display: flex;
    justify-content: space-evenly;
    width: 225px;
    margin: 3px auto 0 auto;

}

@media (max-width: 550px) {
    .inputSection form{
        flex-direction: column;
        text-align: center;
    }

    .submitBtn{
        margin: 5px 0;
    }

}