body{
    color: white;
    background:url(../images/background3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    user-select: none;
    width: 100vw;
    overflow-x: hidden;
}

/* -------------------Input Area and Top */

.mainTitle{
    width: 100%;
    text-align: center;
}

.padding-top{
    padding-top: 10px;
}

.saveArea{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.saveBtn{
    display: none;
    margin-right: 3px;
}

.deleteBtn{
    display: none;
}

.inputSection{
    background-color: #111;
    opacity: .90;
    background-blend-mode: overlay;
    padding-bottom: 7px;
}

.inputSection form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSection label{
    margin-bottom: 0;
}

.inputSection input{
    margin: 0 5px;
    text-align: center;
}

.submitBtn{
    padding: 2px 12px;
    opacity: 1 !important;
}

.buttonArea{
    width: fit-content;
    max-width: 95%;
    margin: 10px auto;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
}

.favModalBtn{
    width: 290px;
}

.gifName{
    margin: 3px;
}

/* --------------------Gif-OutputArea------------------------ */

.outputArea{
    display: none;
}

.outputCard{
    display: inline-block;
    padding: 3px;
    margin: 10px 0px;
}

.outputCard img{
    display: block;
    margin: auto;
    height: 225px;
    width: 225px;
    border: 1px #222 solid;

}

.gifTitleHolder{
    max-width: 225px;
    height: 40px;
    margin: auto;
    overflow: hidden;
    background-color: #333;
    border: 1px #222 solid;
    border-bottom: none;
}

.infoBox{
    display: flex;
    justify-content: space-between;
    width: 225px;
    margin: 0 auto;
    background-color: #333;
    padding: 2px;
    border: 1px #222 solid;
    border-top: none;
}

.fixPad{
    padding: 9.25px 0 11.25px 0;;
}

/* ---------------------Favorites Area-------------------------------- */

.favorites{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background: url(../images/background3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: none;
    padding-bottom: 100px;
}

.favDelBtn{
    width: 100px;
    margin: auto;
}

.closeModal{
    display: block;
    width: fit-content;
    margin: auto;
}

/* ----------------Media Queries-------------------------- */

@media (max-width: 550px) {
    .inputSection form{
        flex-direction: column;
        text-align: center;
    }

    body{
        color: white;
        background:url(../images/background3.jpeg);
        background-size: cover;
        background-attachment: fixed;
        user-select: none;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .submitBtn{
        margin: 5px 0;
    }
}